[MESSAGES CONTROL]

disable=abstract-class-little-used,attribute-defined-outside-init,bad-whitespace,import-error,invalid-name,locally-disabled,maybe-no-member,multiple-statements,no-init,no-name-in-module,no-self-argument,no-self-use,protected-access,redefined-builtin,star-args,superfluous-parens,too-few-public-methods,too-many-arguments,too-many-branches,too-many-instance-attributes,too-many-lines,too-many-locals,too-many-public-methods,too-many-return-statements,too-many-statements,unused-argument,wildcard-import

[REPORTS]

msg-template={path}:{line}:{column}: error [{msg_id}:{symbol}]: {msg}
reports=no

[BASIC]

bad-functions=
variable-rgx=[a-z_][a-z0-9_]*$
docstring-min-length=3

[DESIGN]

max-parents=10

[FORMAT]

max-line-length=78
single-line-if-stmt=yes

[MISCELLANEOUS]

# FIXME is used for issues that do not require immediate attention.
notes=XXX,TODO

[EXCEPTIONS]

overgeneral-exceptions=
